<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block optional_javascript %}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()})
        function page_back(){
            history.go(-1)();}
    </script>
{% endblock %}

{% block content %}
<div class="container" style="background:#ffffff;">
      <div class="jumbotron">
           <span style="line-height: 100px"><br></span>
            <div id="middle">
                <div id="main">

                    <span class="glyphicon glyphicon-user"></span>
                    <hr>
                    <form action="cgi-bin/formsample.cgi" method="post">
                        <p style="font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;학 번 : &nbsp;<input type="text" name="userid" id="userid" required  placeholder="Enter ID"> </p>
                        <p style="font-weight: bold">Passwd : &nbsp;<input type="password" name="userpasswd" id="userpassword" placeholder="Enter Password" required></p>
                    </form>
                </div>

                <div class="form-group" align="center">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox">Remember me</label>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="row">
            <div class="col-sm-4">
                <span style="line-height: 100px"><br></span>
                <div class="container" align="center" >
                    <button type="button" class="btn btn-danger"><a href="4_Findpassword.html" style="color: white;">비밀번호 찾기</a></button>
                    <div class="divider"></div>
                    <button type="submit" class="btn btn-danger"><a href="6_Information.html" style="color: white;">로그인</a></button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger"><a href="1_Joinpage.html" style="color: white;">회원가입</a></button>
                </div>
            </div>

      </div>
</div>
{% endblock %}