<link rel="stylesheet" href="{{ url_for('static', filename='timetable.css')}}">

{% extends "base_timetable.html" %}

{% block title %} login {% endblock %}

{% block optional_javascript %}
<style type="text/css">
    .main td,th{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-12">
        <table class ="table table-bordered " id="main">
            <tr>
                <th>519호</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
            </tr>

            {% for i in range(14)%}
            <tr>
                <th>{{Start_time[i]}}~{{End_time[i]}}</th>
                {% for j in range(5) %}
                    <td col id={{counter[i][j]}} name={{i}},{{counter[i][j]}}>{{counter[i][j]}}</td>
                {% endfor %}
            </tr>
             {% endfor %}
        </table>
    </div>
    <div class="col-md-1"></div>
</div>


<script type="text/javascript">
    {% if data %}
         var obj = jQuery.parseJSON( '[{"StudentID": 123456789}]');
         var number=0;
         var remember_thing=[];
         var collect_reservation=[];
         table_id=obj[0].StudentID;
         if (table_id == '123456789'){
            $( function() {
                    $('td').click( function() {
                        var change=$(this).attr('name');
                        var remember=$(this).index();
                        if (number<2){
                            if($(this).attr('style')){
                                removeItem(collect_reservation, change);
                                number=number-1;
                                $(this).removeAttr('style');
                            }
                            else{
                                $(this).css('background', 'red');
                                remember_thing.push(remember);
                                number=number+1;
                                collect_reservation.push(change);
                            }
                        }
                        else{
                            if($(this).attr('style')){
                                number=number-1;
                                $(this).removeAttr('style');
                                removeItem(remember_thing, remember);
                                function removeItem(remember_thing,remember){
                                    for(var i in remember_thing){
                                        if(remember_thing[i]==remember){
                                            remember_thing.splice(i,1);
                                        }
                                    }
                                }
                                removeItem(collect_reservation, change);
                            }
                            else{
                                $('td').removeAttr('style');
                                number=0;
                                collect_reservation=[];
                                remember_thing=[];
                            }
                        }
                    });
            });
         }
    {% endif %}
</script>

<div class="container" align="center">
    <button type="button" class="btn btn-danger"><a onclick="WriteCookie()">예약완료</a></button>
    <script type="text/javascript">
        function WriteCookie(){
            if (remember_thing.length>=2){
                if (remember_thing[0] != remember_thing[1]){
                    alert("하루에 한 요일만 예약가능합니다");
                }
                else{
                    {window.location="http://127.0.0.1:5000/student_member"};
                }
            }
            else{
                {window.location="http://127.0.0.1:5000/student_member"};
            }
        }
    </script>
</div>
{% endblock %}